[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "node scripts/migrate-categories.js && npx prisma db push --accept-data-loss && npm run start"
